<h1>Edit a Game</h1>

<% form_for @game do |f| %>
	<p>
		<%= f.label 'Home Team'%>
		<%= f.text_field :home_team, :value=>@game.home_team.name %>
	</p>

	<p>
		<%= f.label 'Home Score'%>
		<%= f.text_field :home_score %>
	</p>

	<p>
		<%= f.label 'Away Score'%>
		<%= f.text_field :away_score %>
	</p>

	<p>
		<%= f.label 'Away Team'%>
		<%= f.text_field :away_team, :value=>@game.away_team.name %>
	</p>

	<%= f.submit %>
	
<% end %>	