<table id='games'>
  <tr>
  	<th>Home Team</th>	
  	<th>Home Score</th>	
  	<th>Away Score</th>	
  	<th>Away Team</th>
  	<th>Action</th>
  </tr>	
  <% @games.each do |game| %>
  	<tr>
  		<td><%= link_to friendly_team_name(game.home_team),	
  		                team_path(game.home_team), 
  		                :class=>winner_when(game.home_team_won?) %> 
  		</td>
  		<td><%= game.home_score %></td>
  		<td><%= game.away_score %></td>
  		<td><%= link_to friendly_team_name(game.away_team), team_path(game.away_team), :class=>winner_when(game.away_team_won?) %></td>
  		<td><%= link_to 'Edit', edit_game_path(game)%></td>
  	</tr>
  <% end %>
</table>
<ul id='actions'>
  <li><%= link_to 'Export Games', games_path(:format => :csv) %></li>
  <li><%= link_to 'Create New Game', new_game_path %></li>
</ul>
<div class='clear'/>